# This is a basic workflow to help you get started with Actions

name: Verify ArgoCD app

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  kind:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: Create k8s Kind Cluster
        uses: helm/kind-action@v1.3.0
      # - name: cluster info
      #   run: |
      #     kubectl cluster-info
      #     kubectl get pods -n kube-system
      #     echo "current-context:" $(kubectl config current-context)
      #     echo "environment-kubeconfig:" ${KUBECONFIG}
      - name: install argocd
        run: |
          kubectl create namespace argocd
          kubectl apply -n argocd -f https://raw.githubusercontent.com/argoproj/argo-cd/stable/manifests/install.yaml
          kubectl patch svc argocd-server -n argocd -p '{"spec": {"type": "NodePort"}}'
          kubectl get pods -n argocd
      - name: install argocd-cli
        run: |
          VERSION=v2.5.2; curl -sL -o argocd https://github.com/argoproj/argo-cd/releases/download/$VERSION/argocd-linux-amd64
          chmod +x argocd
          sudo mv argocd /usr/local/bin/argocd

      - name: argocd login 
        uses: nick-fields/retry@v2
        with:
          timeout_seconds: 10
          max_attempts: 10
          command: |
            export password=$(kubectl -n argocd get secret argocd-initial-admin-secret -o jsonpath="{.data.password}" | base64 -d);
            export nodeport=$(kubectl get svc -n argocd argocd-server -o jsonpath={.spec.ports[?\(@.port==80\)].nodePort});
            export nodeip=$(kubectl get nodes -o jsonpath={.items[0].status.addresses[?\(@.type==\"InternalIP\"\)].address});
            argocd login $nodeip:$nodeport --insecure --username=admin --password=$password
  
      - name: argocd resource deploy
        run: |
          kubectl apply -f application/app_of_apps/.
          argocd app list
          echo $GITHUB_REPOSITORY
          echo $GITHUB_REF_NAME
          argocd app set master-applications --repo=https://github.com/$GITHUB_REPOSITORY 
          argocd app set master-applications --revision=$GITHUB_REF_NAME
          argocd app set master-applications --parameter spec.source.repoURL=https://github.com/$GITHUB_REPOSITORY
          argocd app set master-applications --parameter spec.source.targetRevision=$GITHUB_REF_NAME
          argocd app get master-applications

      - name: argocd master app sync
        run: |
          argocd app sync master-applications
      
      - name: argocd sub app sync 
        run: |
          export modules=$(kubectl get app -n argocd -o jsonpath={.items[*].metadata.name})
          for m in $modules;do argocd app set $m --repo=https://github.com/$GITHUB_REPOSITORY;done
          for m in $modules;do argocd app set $m --revision=$GITHUB_REF_NAME;done          
          for m in $modules;do argocd app sync $m --preview-changes <<<no;done
        

        



